
body{
    background: #b3b3b3;
    background: radial-gradient(circle, rgb(124, 92, 175) 0%, rgb(1, 15, 36)70%);
    overflow-y: auto;
    overflow-x: hidden;
    cursor: url('../assets/mouse-pointer.png'), auto !important;
}
a{
    text-decoration: none;
    color: #fff;
}

:root{
    --primary-background: #7404bf;
    --primary-background1: linear-gradient(90deg, rgba(116, 4, 191, 1) 45%, rgb(58, 103, 200) 100%);
}

#boxToolBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;   
    background: rgb(1, 15, 36);
    z-index: 1000; 
   /* box-shadow: 0 2px 10px rgba(0,0,0,0.2); */
}

/*-----------------------------------------------------------------*/
/***Design Intro***/
.intro{
    z-index: 6;
    position: fixed;
    top: 8px !important;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
.intro .logoCineMoon{
    width: 500px;
    height: auto;
    position: relative;
    right: -120px;
    bottom: -15px;
}
.intro .btnBooking{
    text-align: right;
    background: linear-gradient(180deg, #fff700);
    border-radius: 5px;
    width:125px;
    height: 42px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    left: 405px;
    top: 18px;
    right:530px ;
    bottom: 58px;
    overflow: hidden;
    transition: color 0.2s ease;
    z-index: 1;
    cursor: url('../assets/mouse-pointer.png'), auto;

}
.intro .btnBooking::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: var(--primary-background1);
    transition: left 0.5s ease;
    z-index: -1;
}
.intro .btnBooking:hover::before{
    left: 0;
}
.intro .btnBooking:hover{
    color: white;
}


.intro .btnPopcorn{
    text-align: right;
    background: linear-gradient(360deg, #930fff);
    color: white;
    border-radius: 5px;
    width:135px;
    height: 42px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    left: 540px;
    top: 18px;
    right:675px ;
    bottom: 58px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2 ease;
    cursor: url('../assets/mouse-pointer.png'), auto; 
}
.intro .btnPopcorn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e09318 30%, #ffcc00);
    transition: left 0.5s ease;
    z-index: -1;
}
.intro .btnPopcorn:hover::before{
    left: 0;
}
.intro .btnPopcorn:hover{
    color: rgb(255, 255, 255);
}

/*xóa dấu x trên thanh tìm kiếm*/
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.intro #search{
    padding-left: 15px;
    border-radius: 50px;
    width:249px;
    height: 39px;
    font-weight: 700;
    position:absolute;
    left: 819px;
    top: 18px;
    right:1069px;
    bottom: 58px;
}
.intro i{
    position: absolute;
    left: 1040px;
    top: 30px;
    color: gray;
    font-size: 15px;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

.intro .logoCineMoon{
    Width: 160px;
    Height: 150px;
    position: absolute;
    Left: 115px;
    Top: -16px;
    Right: 261px;
    Bottom: 161px;
}
.intro p{
    overflow: hidden;
    font-weight: 450;
    color: white;
    Width: 129px;
    Height: 45px;
    position: absolute;
    Left: 1130px;
    Top: 10px;
    Right: 1225px;
    Bottom: 50px;
}

.intro .flagVietNam{
    position: absolute;
    Left: 1231px;
    Top: 16px;
    Right: 1331px;
    Bottom: 50px;
}
.intro .flagAmerica{
    z-index: -1;
    position: absolute;
    Left: 1236px;
    Top: 21px;
    Right: 1340px;
    Bottom: 50px;
}


/*---------------------------------------------------------*/

/**Design toolbar**/
.lineToolbar{
    opacity: 0.2;
    z-index: 6;
    position: fixed;
    right: 145px;
    top: 75px;
    height: 0.5px;
    width: 80%;
    background-color: rgb(123, 117, 109);

}
.toolBar {
    z-index: 6;
    position: fixed;
    right: 110px;
    display: flex;
    align-items: center;
    top: 80px;
    margin: 20px;
    font-family: sans-serif, Helvetica, sans-serif, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.toolBar h3{
    margin: 3px 20px ;
    cursor: url('../assets/mouse-pointer.png'), auto;
}
.toolLeft{
    position: relative;
    left: -320px;
    text-decoration: none !important;
}
.toolBar h3:hover{
    color: rgb(255, 225, 0);
    text-decoration: underline;
    transition: color 0.4s ease;
}


/*----------------------------------------------------------*/
/*Design newsHot*/
.newsHot{
    display: flex;
    align-items: center;
    margin: 20px;
    position:  relative;
    bottom: -150px;
    right: -60px;   
}
.newsHot p{
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    top: -20px;
    right: -40px;
}
.newsHot p:hover{
    color: rgb(236, 240, 17);
    font-size: 40px;
}
/*Cuộn ảnh*/
.sliderWrapper {
    position: relative;
    top: -30px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    width: 1190px;
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none;      /* IE và Edge cũ */
}
.sliderWrapper::-webkit-scrollbar {
    display: none;                 /* Chrome, Safari */
}
/*nút trượt*/
#prevBtn, #nextBtn {
    font-size: 3rem;
    background: none;
    border: none;
    cursor: url('../assets/mouse-pointer.png'), auto;
    user-select: all;
    z-index: 8;
    position: relative;
    top:-55px;
}
#prevBtn{
    position: relative;
    left: -15px;
}
#nextBtn{
    position: relative;
    left: 10px;
}
/*tin tức*/
.movieItem {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -10px;
    right: 0px;
}

.movieItem img {
    width: 1150px;
    height: 370px;
    border-radius: 10px;
}

.movieItem .btnBooking {
    width: 245px;
    height: 40px;
    margin-top: 10px;
    padding: 8px 16px;
    background: linear-gradient(90deg, rgb(244, 219, 30), rgb(255, 232, 56));
    color: black;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 15px;
    font-family:  Tahoma, sans-serif;
    position: relative;
    top: -80px;
    right: -312px;
    overflow: hidden;
    cursor: url('../assets/mouse-pointer.png'), auto;
    z-index: 1;
    transition: color 0.2s ease;
}

.movieItem .btnBooking::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: linear-gradient(90deg, rgba(116, 4, 191, 1) 45%, rgba(62, 62, 222, 1) 100%);
    transition: left 0.5s ease;
    z-index: -1;

}
.movieItem .btnBooking:hover::before {
    left: 0;
}
.movieItem .btnBooking:hover {
    color: white;
}


/*----------------------------------------------------------*/

/*Design toolbarBooking*/
.toolbarBooking{
    height: 90px;
    width: 1160px;
    background-color: white;
    color: rgb(132, 11, 208);
    border-radius: 5px;
    position: relative;
    bottom: -60px;
    right: -115px;   
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}
.toolbarBooking p {
    border: 1px solid rgb(105, 99, 99);
    border-radius: 5px;
    width: 165px;
    height: 20px;
    display: flex;
    justify-content: center;  /* Căn giữa ngang */
    align-items: center; /* Căn giữa dọc */
    padding: 10px;  
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-weight: 800;
    cursor: url('../assets/mouse-pointer.png'), auto;

}

.toolbarBooking .book{
    width: 95px;   
    background-color: rgba(85, 7, 134, 0.859);
    color: white;
    font-size: 17px;
    border: none;
    cursor: url('../assets/mouse-pointer.png'), auto;

}
.toolbarBooking .booking{

    width: 200px;
    color: rgb(58, 57, 57);
    font-size: 25px;
    border: none;

}
.toolbarBooking .choice{
    position: relative;
    bottom: -15px;
    cursor: url('../assets/mouse-pointer.png'), auto;
}


.toolbarBooking .choice span{
    display: inline-block;
    color: rgb(62, 59, 59);
    transform: rotate(-180deg);
    font-size: 25px;
    position: relative;
    right: -165px;
    top: -57px;
}



/*------------------------------------------------------*/
/*PHIM ĐANG CHIẾU*/
h2{

    width: 370px;
    color: white;
    position: relative;
    bottom: -100px;
    right: -520px;
    font-family:  Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: -4px;
}
.nowShowing{
    width: 93%;
    height: 580px;
    position: relative;
    bottom: -100px;
    right: -50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    scroll-behavior: smooth;
}

 #prevButn{
    width: 20px;
    color: white;
    z-index: 8;
    position: relative;
    right: -15px;
    bottom: -350px;
    font-size: 3rem;
    font-weight: bolder;
}
 #prevButn:hover{
    color: rgb(236, 240, 17);
    cursor: url('../assets/mouse-pointer.png'), auto;
 }
 #nextButn{
    width: 20px;
    color: white;
    z-index: 8;
    position: relative;
    right: -1362px;
    top: -338px;
    font-size: 3rem;
    font-weight: bolder;
 }
 #nextButn:hover{
    color: rgb(236, 240, 17);
    cursor: url('../assets/mouse-pointer.png'), auto;
 }
#Wrapper{
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none; 
}
#Wrapper::-webkit-scrollbar {
    display: none;                 /* Chrome, Safari */
}
.nowShowing .movieItem{
    height: 570px;
    width: auto;
    position: relative;
    left: -39px;
    top: 145px;
}
/*poster phim**/
.nowShowing .movieBox {
    height: 505px;
    position: relative;
    right: -5px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;

}
.imageMovie {
    width: 100%;
    max-width: 270px;
    height: auto;
    border-radius: 2px;
}
.imageMovie::before{
    content: '';
}

.movieBox {
    position: relative;
    display: inline-block;
    max-width: 270px;
}

.review {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;                 
    height: 370px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none; 
}

/* hiện review */
.movieBox:hover .review {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.review i{
    color: yellow;
    position: relative;
    left: -3px;
}

/*Tiêu đề phim*/
.title{
    color: white;
    font-size: 18.1px;
    position: relative;
    top: -10px;
    text-align: center;
}
.title:hover{
    color:rgb(253, 253, 17);
}
/*trailer*/
.trailer{
    width: 145px;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
/*Đặt vé*/
.btnBook{
    width: 145px;
    height: 40px;
    background-color: rgb(224, 224, 6);
    border-radius: 5px;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: url('../assets/mouse-pointer.png'), auto;
    position: relative;
    right: 55px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2s ease;
}


.btnBook:hover{
    color: white;
}

.btnBook::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: var(--primary-background1);
    transition: left 0.5s ease;
    z-index: -1;
}
.btnBook:hover::before{
    left: 0;
}

/*Trailer toolbar and booking*/
.toolReview{
    position: relative;
    top: -50px;
    right: -28px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*------------------------------------------------------*/

/*PHIM SẮP CHIẾU*/


#prevBtn2{
    width: 20px;
    color: white;
    z-index: 8;
    position: relative;
    right: -15px;
    bottom: -400px;
    font-size: 3rem;
    font-weight: bolder;
}
#prevBtn2:hover{
    color: rgb(236, 240, 17);
    cursor: url('../assets/mouse-pointer.png'), auto;
}
#nextBtn2{
    width: 20px;
    color: white;
    z-index: 8;
    position: relative;
    right: -1358px;
    top: -330px;
    font-size: 3rem;
    font-weight: bolder;
}
#nextBtn2:hover{
    color: rgb(236, 240, 17);
    cursor: url('../assets/mouse-pointer.png'), auto;
}
.titleFutureshow{
    color: white;
    position: relative;
    bottom: -150px;
    right: -525px;
}

#futureWrapper{
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none; 
}
#futureWrapper::-webkit-scrollbar {
    display: none;                 /* Chrome, Safari */
}

.futureShow{
    width: 93%;
    height: 580px;
    position: relative;
    bottom: -90px;
    right: -50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    scroll-behavior: smooth;

}
/*Thẻ phim, poster*/
.movieCard {
    margin-right: 70px;
    border-radius: 5px;
    width: 270px;
    height: 402px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    right: -1px;
    top: -89px;

}
.movieCard .predictShow{
    color: white;
    font-size: 15px;
    position: relative;
    top: -25px;
    text-align: center;
}
.movieCard .titleMovie{
    color: white;
    font-size: 18.1px;
    position: relative;
    top: -45px;
    text-align: center;
}
.movieCard .titleMovie:hover{
    color:rgb(253, 253, 17);
}
.movieCard .reviewBox {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;                 
    height: 403px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    transform: translateY(5px);
    transition: opacity 0.2s ease, transform 0.2s ease;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 3px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none; 
}
/* hiện review */
.movieCard:hover .reviewBox {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.reviewBox i{
    color: yellow;
    position: relative;
    left: -3px;
}

/*trailer, booking*/
.toolbarReview {
    position: absolute;
    bottom: -165px;
    right: -75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.toolbarReview .trailer{
    position: relative;
    left: -45px;
}
.toolbarReview .btnBook{
    font-family: Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14.5px;
    position: relative;
    left: -75px;
}

/*------------------------------------------------------*/

.titleDiscounts{
    position: relative;
    right: -50px;
    bottom: -80px;
}

.discounts{
    width: 93%;
    height: 580px;
    position: relative;
    right: -50px;
    top: -50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    scroll-behavior: smooth;
    cursor: url('../assets/mouse-pointer.png'), auto;
}
#discountsWrapper{
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;         /* Firefox */
    -ms-overflow-style: none; 
}
#discountsWrapper::-webkit-scrollbar {
    display: none;                 /* Chrome, Safari */
}
.discounts img{
    width: 400px;
    height: auto;
    border-radius: 5px;
    margin-right: 45px;
    position: relative;
    top: -150px;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

#prevDiscountsBtn,#nextDiscountsBtn {
    width: 20px;
    color: white;
    z-index: 8;
    position: relative;
    font-size: 3rem;
    font-weight: bolder;
}
#prevDiscountsBtn {
    right: -15px;
    bottom: -160px;
}
#prevDiscountsBtn:hover {
    color: rgb(236, 240, 17);
    cursor: url('../assets/mouse-pointer.png'), auto;
}
#nextDiscountsBtn {
    right: -1358px;
    top: -570px;
}
#nextDiscountsBtn:hover {
    color: rgb(236, 240, 17);
    cursor: url('../assets/mouse-pointer.png'), auto;
}
.buttonAllDiscounts{
    width: 260px;
    height: 40px;
    color: black;
    background-color: rgb(224, 224, 6);
    border-radius: 5px;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: url('../assets/mouse-pointer.png'), auto;
    position: relative;
    top: -460px;
    right: -568px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2s ease;
}
.buttonAllDiscounts::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: var(--primary-background1);
    transition: left 0.5s ease;
    z-index: -1;
}
.buttonAllDiscounts:hover::before{
    left: 0;
}
.buttonAllDiscounts:hover{
    color: white;
}
/*------------------------------------------------------*/

/*Chương trình thành viên*/
.imageProgramMember img{
    width: 102%;
    height: 100%;
    position: relative;
    top: -300px;
    left: -10px;
    filter: blur(2.5px);
}
/*Title*/
.Program{
    width: 700px;
    color: white;
    font-size: 46px;
    position: relative;
    top: -1050px;
    right: -350px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-shadow: 15px 10px 7px rgb(0, 0, 0);
}
/*Thẻ chương trình*/
.ProgramMembers{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.ProMemCard {
    position: relative;
    top: -1070px;
    right: -85px;
    border-radius: 5px;
    margin: 0 30px;
}
.ProMemCard img{
    width: 550px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 28px rgba(255, 255, 0, 0.992);
}
.ProMemCard h5{
    position: relative;
    top: -30px;
    color: white;
    font-size: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.ProMemCard p{
    position: relative;
    top: -70px;
    color: white;
    font-size: 14px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.ProMemCard .button{
    width: 270px;
    height: 40px;
    color: black;
    background-color: rgb(253, 253, 17);
    border-radius: 5px;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: url('../assets/mouse-pointer.png'), auto;
    position: relative;
    top: -70px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2s ease;
}
.ProMemCard .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: var(--primary-background1);
    transition: left 0.5s ease;
    z-index: -1;
}
.ProMemCard .button:hover::before {
    left: 0;
}
.ProMemCard .button:hover {
    color: white;
}

/*------------------------------------------------------*/
/*Tất cả giải trí*/

.AllEntertainment{
    width: 450px;
    position: relative;
    top: -900px;
    font-family: Tahoma;
    cursor: url('../assets/mouse-pointer.png'), auto;
}
.introAllEntertainment{
    width:638px;
    color: white;
    font-family: Tahoma;
    position: relative;
    top: -840px;
    right: -380px;
}
.centerLine {
    display: inline-block;
    width: 100%;
    text-align: center; 
}

.AllProgramEntertainment {
    position: relative;
    top: -800px;
    right: -85px;
}

.AllProgramEntertainment img{
    margin: 10px;
    border-radius: 5px;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

/*------------------------------------------------------*/
/*Liên hệ với chúng tôi*/

.contactUs{
    width: 420px;
    color: white;
    position: relative;
    top: -500px;
    right: -130px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.facebook{
    width: 400px;
    height: 90px;
    color: white;
    background: var(--primary-background);
    background: var(--primary-background1);
    position: relative;
    top: -700px;
    right: -180px;
    font-size: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('../assets/mouse-pointer.png'), auto;
    position: relative;
    
}
.logoFacebook{
    position: relative;
    top: -500px;
    right: -50px;
    z-index: 5;
    cursor: url('../assets/mouse-pointer.png'), auto;
}
.zaloChat{
    width: 400px;
    height: 90px;
    color: white;
    background: var(--primary-background);
    background: var(--primary-background1);
    position: relative;
    top: -780px;
    left: 100px;
    font-size: 30px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: url('../assets/mouse-pointer.png'), auto;

}
.logoZalo{
    position: relative;
    top: -600px;
    right: -380px;
    z-index: 5;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

.informationContact{
    width: 600px;
    height: 800px;
    background-color: rgb(42, 106, 179);
    position: relative;
    top: -1400px;
    right: -690px;
    border-radius: 5px;
}
.informationContact .contact{
    color: white;
    font-size: 25px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    top: 15px;
    left: 45px;
}
.informationContact .address,.phone,.email{
    color: white;
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    top: -10px;
    left: 70px;
}
.informationContact i{
    display: flex;
    color: rgb(218, 222, 10);
    position: relative;
    bottom: -22px;
    left: 45px;
}

.boxFillInformation .fillName{
    padding-left: 10px;
    width: 490px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    bottom: -05px;
    left: 50px;
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

.boxFillInformation .fillEmail{
    padding-left: 10px;
    width: 490px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    bottom: -30px;
    left: 50px;
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

.boxFillInformation .fillFeedback{
    padding: 15px 10px;
    width: 480px;
    height: 265px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    bottom: -60px;
    left: 50px;
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    text-justify: top;
    cursor: url('../assets/mouse-pointer.png'), auto;
}

.boxFillInformation .submit{
    z-index: 7;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(228, 232, 0);
    border-radius: 5px;
    position: relative;
    bottom: -80px;
    right: -50px;
    overflow: hidden;

}
.boxFillInformation .submit::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: var(--primary-background1);
    transition: left 0.5s ease;
    z-index: -1;
}
.boxFillInformation .submit:hover::before{
    left: 0;
}

.boxFillInformation .submit:hover{
    cursor: url('../assets/mouse-pointer.png'), auto;
    color: white;
}

/*  ------------------------------------------------------*/
/*Footer*/

.footer{
    width: 102%;
    height: 1000px;
    background: var(--primary-background);
    background: linear-gradient(90deg, rgb(105, 51, 141) 10%, rgb(58, 103, 200) 100%);
    position: absolute;
    bottom: -6600px;
    left: -10px;
    
}
.ourInformation .logoCineMoon{
    width: 260px;
    height: 250px;
    position: relative;
    top: 50px;
    left: 50px;
}

.ourInformation .slogan{
    color: white;
    font-size: 20px;
    position: relative;
    top: -65px;
    left: 80px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
/*Button*/
.ourInformation .btnBooking{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #fff700);
    border-radius: 5px;
    width:180px;
    height: 45px;
    font-weight: bold;
    font-size: 14.5px;
    font-family:  Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    left: 75px;
    top: 250px;
    overflow: hidden;
    transition: color 0.2s ease;
    z-index: 1;
    cursor: url('../assets/mouse-pointer.png'), auto;

}
.ourInformation .btnBooking::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--primary-background);
    background: var(--primary-background1);
    transition: left 0.5s ease;
    z-index: -1;
}
.ourInformation .btnBooking:hover::before{
    left: 0;
}
.ourInformation .btnBooking:hover{
    color: white;
}


.ourInformation .btnPopcorn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff700;
    border: 1.2px solid #fff700;
    border-radius: 5px;
    width:180px;
    height: 45px;
    font-weight: bold;
    font-size: 14.5px;
    font-family: Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    left: 275px;
    top: 250px;
    overflow: hidden;
    z-index: 1;
    transition: color 0.2 ease;
    cursor: url('../assets/mouse-pointer.png'), auto;  
}
.ourInformation .btnPopcorn::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #e09318 30%, #ffcc00);
    transition: left 0.5s ease;
    z-index: -1;
}
.ourInformation .btnPopcorn:hover::before{
    left: 0;
}
.ourInformation .btnPopcorn:hover{
    color: rgb(255, 255, 255);
}

/*icons*/
.ourInformation .socialIcons {
    display: flex;
    gap: 16px; /* khoảng cách giữa các icon */
    align-items: center;
  }

.socialIcons i,.iconZalo {
    font-size: 20px;
    cursor: url('../assets/mouse-pointer.png'), auto;
    color: white;
    position: relative;
    right: -75px;
    bottom: -20px;
  }

.socialIcons i:hover,.iconZalo:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.ourInformation .language{
    width: 150px;
    position: absolute;
    top: 370px;
    left: 70px;
    color: white;
    font-size: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.ourInformation .flagVietNam{
    position: relative;
    left: 180px;
    top: 40px;
}
.lineFooter{
    width: 90%;
    border: 1px solid white;
    position: relative;
    top: 330px;
    right: 0px;
}
.footerText{
    color: white;
    font-size: 15px;
    position: relative;
    top: 350px;
    left: 70px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.footerText1{
    color: white;
    font-size: 15px;
    position: relative;
    top: 315px;
    left: 900px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
/*Mở rộng thông tin*/
.extraInformation{
    flex-wrap: wrap;
    width:55%;
    height: 200px;
    position: relative;
    top: -300px;
    right: -470px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Tên các thông mở rộng*/
.extraInformation .nameInfor1,.nameInfor2,.nameInfor3,
.nameInfor4,.nameInfor5,.nameInfor6{
    color: white;
    font-size: 20px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
/*Chi tiết các thông tin*/
.extraInformation .detailsInfor1,
.detailsInfor2,.detailsInfor3,.detailsInfor4,
.detailsInfor5,.detailsInfor6{
    color: white;
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.detailsInfor1 p:hover,.detailsInfor2 p:hover,
.detailsInfor3 p:hover,.detailsInfor4 p:hover,
.detailsInfor5 p:hover,.detailsInfor6 p:hover{
    color: rgb(242, 255, 0);
    font-size: 15px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

/*Vị trí các thông tin*/
.extraInformation .nameInfor1{
    position: relative;
    top: -105px;
}
.extraInformation .detailsInfor1{
    position: relative;
    top: -20px;
    left: -90px;
}
.extraInformation .nameInfor2{
    position: relative;
    top: -105px;
}
.extraInformation .detailsInfor2{
    position: relative;
    top: -20px;
    left: -110px;
}
.extraInformation .nameInfor3{
    position: relative;
    top: -105px;
}
.extraInformation .detailsInfor3{
    position: relative;
    top: -20px;
    left: -90px;
}
.extraInformation .nameInfor4{
    position: relative;
    top: 95px;
    left: -620px;
}
.extraInformation .detailsInfor4{
    position: relative;
    top: -70px;
    left: 5px;
}
.extraInformation .nameInfor5{
    position: relative;
    top: -135px;
    left: 110px;
}
.extraInformation .detailsInfor5{
    position: relative;
    top: 15px;
    left: 5px;
}
.extraInformation .nameInfor6{
    position: relative;
    top: -338px;
    left: 270px;
}
.extraInformation .detailsInfor6{
    position: relative;
    top: -135px;
    left: 120px;
}


